.container {
  width: 800px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.line {
  width: 100%;
  margin: auto;
  margin-bottom: 5px;
  height: 3px;
  background-color: rgba(94, 92, 89, 0.3);
}
.first {
  width: 44%;
  background-color: bisque;
  display: flex;
  flex-direction: column;
  padding: 5px;
}
.textArea {
  margin-top: 10px;
  display: none;
  width: 95%;
  height: fit-content;
}
