.container {
  width: fit-content;
  margin: auto;
  padding: 5px;
  background-color: bisque;
}
.table {
  margin: auto;
  margin-top: 15px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  border-collapse: collapse;
  width: fit-content;
  text-align: center;
}
.cells {
  border-style: solid;
  border-width: 1px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
  border-color: black;
}
.button {
  border-style: solid;
  background-color: bisque;
}
